.clinical-trials-gov-table th,
.clinical-trials-gov-table td {
  vertical-align: top;
}

.clinical-trials-gov-report-metadata__primary {
  line-height: 1.4;
}

.clinical-trials-gov-report-metadata__secondary {
  color: #666;
  line-height: 1.4;
}

.clinical-trials-gov-field-group {
  background-color: #f3f4f6;
}
